html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #233044;
}



/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  margin: 0 auto 2%;
  background-color: #3e4249;
  overflow: hidden;
  height: 80px;
  justify-content: flex-start;
  align-items:center;
  gap: 30px;
}

button {
  display: inline-block;
  cursor: pointer;
  /* margin-left: 50%; */
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  font-size: 9.5pt;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  font-family: sans-serif;
  text-decoration: none;

  background-color: #008CBA;

  transition-duration: 0.4s;

  margin-bottom: 20px;
}

button.blue {
  border-color: #c89900;
  background: rgb(45, 56, 66);
}

button:hover {
  background: #c89900;
}

button:active {
  background: #0041ba;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

button:focus {
  outline: 0;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

}

#docContainer{
  margin: 40px auto;
  padding: 0 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height:1.6;
  color:#c4c4c4
}

section{
  margin-bottom: 60px;
  background-color: #3a4350;
}

h2{
  font-size: 2.5rem;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.95rem;
}

th{
  text-align: left;
  padding: 12px;
  border: 1px solid #e2e8f0;
}

td{
  padding: 12px;
  border: 1px solid #e2e8f0;
}

tr:nth-child(even){
  background-color: #363636;
}

pre{
  background: #2d3748;
  color:#ffffff;
  padding-left:20px;
  border-radius: 8px;
  overflow-x: auto;
  font-family:'Times New Roman', Times, serif;
}

code{
  font-family: inherit;
  font-size: 0.9rem;
}