html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2d4e80;
}

.layout{
  padding:25px 25px;
  display:grid;
  grid-template-columns: minmax(250px,310px) 1fr;
  grid-template-areas:"top content";
  gap: 20px;
}

#top,
#content{
  min-width:0;
}

#top {
  grid-area:top;
  display:flex;
  flex-direction: column;
  text-align: center;
}

#top h1 {
  font-size: 2em;
}

#content {
  grid-area:content;
  /* margin-top: 100px;
  font-size: 2em;
  text-align: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px 20px;
}

form{
  display:flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  
}

input,
select,
textarea{
  max-width: 250px;
}

.form-tab{
  background: rgb(35,58,61);
  color: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 25px;
  
  position: relative;
  padding-top: 30px;

  max-width: 302px;
}

.form-tab h3{
  margin-top:0;
  margin-bottom:15px;
  font-size: 1.2em;
  border-bottom:1px solid #03a89e;
  padding-bottom: 5px;

  position:absolute;
  top:-12px;
  left:20px;
  background: #03a89e;
  padding: 5px 15px;
  border-radius: 20px;
  font-size:0.9em;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  color:#f0f0f0;
  background: rgb(35, 48, 61);
  border-radius: 25px;
  padding-bottom: 10px;
  max-height:fit-content;
}

.result .pokeNum{
  font-size: 80%;
  margin-bottom: 10px;
}

.result .pokeName{
  font-size: large;
  font-weight: bold;
}

.result .pokeType{
  margin-top: 5px;
}

.result img {
  max-width: 50%;
}

input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  /* margin-left: 50%; */
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  padding: 10px 18px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  font-size: 9.5pt;
  font-weight: bold;
  color: #ffffff;
  font-family: sans-serif;
  text-decoration: none;
  border-color: #c89900;
  background: rgb(18, 41, 61);


  transition-duration: 0.4s;
}

input[type="submit"]:hover {
  background: #008CBA;
}

input[type="submit"]:active {
  background: #0041ba;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

input[type="submit"]:focus {
  outline: 0;
}